<html>

<head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        div#app {
            padding: 50px;
            margin: 30px auto;
            max-width: 600px;
            border: 1px solid #ccc;
            box-shadow: 3px 3px 3px #aaa;
            font-size: 11pt;
        }

        span{
            margin-top: 20px;
            display: block;
            font-size: 20pt;
            font-weight: bolder;
        }

    </style>
</head>

<body>
    <div id="app">
        <input id="name" type="radio" v-bind:gender="visible" v-model="gender"/>남자
        <input id="name" type="radio" v-bind:gender="!visible" v-model="gender"/>여자<br>
        <span v-model="visible">
            {{ gender }}
        </span>

    </div>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                value: 0,
                gender: "남자",
                visible: true
            },
            methods: {
                increase: function() {
                    this.value++;
                }
            }

        })    
    </script>
</body>

</html>